.mapContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 174px;
  height: calc(100% - 174px);
  z-index: 200;
}

.productItem,
.productItemNoHover {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.3rem 0;
  cursor: pointer;
  position: relative;
  margin-top: 1px;
}

.productItem:hover::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 4px);
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  z-index: 1000;
}

.productItem.selected::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 4px);
  border: 1px solid #2a3c84;
  border-radius: 4px;
  z-index: 1000;
}

.productItem.dimmed {
  opacity: 0.4;
}

@media (max-width: 992px) {
}
