.mapContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 174px;
  height: calc(100% - 174px);
  z-index: 200;
}

.productItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.productItem {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.3rem 0;
  cursor: pointer;
  position: relative;
  margin-top: 1px;
}

.productCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f6f6f6;
  border-radius: 4px;
  padding: 0.3rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.productCheckboxImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productItemContent {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.productItemName {
  font-size: 0.875rem;
  margin-right: 0.4rem;
  margin-bottom: 0.3rem;
  width: 100%;
}

.productItemProgressBar {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.productItem.selected {
  .productCheckbox {
    border: 1px solid #2a3c84;
  }
}

.productItem.dimmed {
  opacity: 0.4;
}
