.fr-collapse,
.fr-collapse--expanded,
.fr-collapsing,
.fr-collapse::before {
  transition: none !important;
}

/* MuiAutocomplete styles - imported from communesearch.css */
@import "./communesearch.css";

.fr-header__operator {
  min-width: 155px;
}

@media (min-width: 768px) {
  .fr-footer__logo {
    max-width: 210px !important;
  }
}

.rcpnt-section h3 {
  color: var(--text-title-blue-france) !important;
}

.rcpnt-section .fr-card__end {
  margin-top: 0 !important;
}

.rcpnt-section p:has(+ ul),
.rcpnt-section p:has(+ ol) {
  margin-bottom: 0 !important;
}

.rcpnt-section p + ul,
.rcpnt-section p + ol {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.rcpnt-result-list {
  list-style-type: none;
  padding: 0;
}

.rcpnt-result-list li {
  padding: 0 0 1.3rem 0;
}

html,
body {
  min-width: 320px;
}

/* Services page */

.services-section ul > li > p {
  margin-bottom: 0 !important;
}

/* Product screenshots */
.services-section img[width="960"] {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  margin: 1rem 0 2rem 0;
}

/* Organisation presence */
.presence-accordion {
  border-radius: 8px;
  border: 1px solid var(--light-decisions-border-border-default-grey, #ddd);
  overflow: hidden;

  > .fr-accordion__title .fr-accordion__btn {
    padding: 0;

    .accordion-label {
      padding: 2rem;
      background-color: #ffffff;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        transition: transform 0.3s ease;
        color: var(--text-title-blue-france);
        &.rotate-180 {
          transform: rotate(180deg);
        }
      }
    }
    &::after {
      display: none;
    }
  }

  .fr-collapse {
    background-color: #ffffff;
    margin: 0 !important;

    > ul > div {
      margin-bottom: 0 !important;
    }
  }

  &::before {
    box-shadow: none !important;
  }
}

/* Bienvenue page */
.st-bienvenue-page {
  padding-top: 0 !important;

  .service-tile {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--light-decisions-border-border-default-grey, #ddd);
    flex-shrink: 0;
    cursor: pointer;

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 0.25rem;

      .title {
        font-size: 18px;
        font-weight: 700;
        color: var(--text-title-blue-france);
      }

      img {
        height: 30px;
      }
    }

    &:hover {
      background-color: var(--light-decisions-background-default-grey, #f5f5f5);
    }
  }

  .opsn-services-section,
  .suite-services-section {
    @media (min-width: 1024px) {
      max-width: 486px;
    }
  }

  .service-app-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    cursor: pointer;

    .service-app-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border-radius: 4px;
      width: 95px;
      height: 95px;

      img {
        width: 38px;
        height: auto;
      }

      .title {
        font-weight: 700;
        font-size: 12px;
        color: var(--text-title-blue-france);
        text-align: center;
        line-height: 16px;
      }

      &:hover,
      &.selected {
        background-color: var(--light-decisions-background-default-grey, #f5f5f5);
      }
    }
  }

  .other-service {
    padding: 2rem;
    border-radius: var(--xs, 8px);
    background: var(--light-decisions-background-background-default-grey-hover, #f6f6f6);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.25rem;

        img {
          width: 30px;
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
        }

        h3,
        h5 {
          margin-bottom: 0rem;
        }
      }

      .description {
        margin-bottom: 0.5rem;
        color: var(--light-decisions-text-default-grey, #666);
      }
    }

    img {
      max-width: 280px;
      border-radius: 20px;
    }
  }

  .departement-section {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f5f5fe;

    .section-name {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--light-text-mention-grey, #666);
    }

    .section-description {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: var(--light-text-default-grey);
    }

    .card-indicator {
      .card-value {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        color: var(--light-text-title-grey, #161616);
        margin-bottom: 0.4rem;
      }

      .card-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: var(--light-text-default-grey);
        height: 48px;
      }
    }
  }
}

/* Trial contact */
.trial-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

/* Leaflet */

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-control-zoom a[href],
.leaflet-control a[href] {
  background-image: none !important;
}

@media (max-width: 768px) {
  .st-bienvenue-page .fr-card--shadow {
    filter: none !important;
    padding: 0px !important;
  }
}

/* Cartographie */

.map-side-panel {
  width: 460px;
  min-width: 460px;
  max-width: 460px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);
  z-index: 100;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map-side-panel--closed {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  box-shadow: none;
}

.map-side-panel__content {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.map-side-panel__toggle {
  position: absolute;
  right: -29px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);
  padding: 8px 2px;
  cursor: pointer;
  font-size: 18px;
}

.map-drom-selector {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.map-action-buttons {
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.maplibregl-popup-content {
  pointer-events: none !important;
  padding: 0 !important;
}

.map-tooltip-content {
  background: white;
  padding: 0.7rem;
}

.map-tooltip-title {
  font-weight: bold;
  font-size: 1rem;
  color: #1e293b;
  margin-bottom: 0;
}

.map-gradient {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: rgba(225, 226, 226, 0.85);
  padding: 8px 8px 4px 8px;
  border-radius: 4px;
}

.map-gradient-bar {
  width: 300px;
  height: 13px;
  border-radius: 4px;
  padding: 0 6px;
}

.map-gradient-dot {
  position: absolute;
  transform: translateX(-50%);
  height: 11px;
  width: 11px;
  border: 2px solid #fff;
  border-radius: 100%;
  transition: left 0.3s ease-in-out;
}

.map-gradient-label {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 992px) {
  .map-side-panel {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: calc(50% - 47px);
    min-height: 15px;
    height: auto;
    border-top: 1px solid #e5e7eb;
  }

  .map-side-panel__content {
    padding: 1.5rem;
  }

  .map-side-panel__toggle {
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    border: 1px solid #e5e7eb;
    box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.04);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding: 8px 12px;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-side-panel__toggle span {
    transform: rotate(-90deg);
  }

  .map-drom-selector {
    right: 10px;
    bottom: 148px;
    top: auto;
  }

  .map-action-buttons {
    bottom: 50px;
    right: 10px;
  }

  .map-tooltip-content {
    padding: 0.5rem;
  }

  .map-tooltip-title {
    font-size: 0.9rem;
  }

  .map-gradient {
    bottom: 50px;
    left: 10px;
    transform: none;
    padding: 0 8px;
  }

  .map-gradient-bar {
    width: 13px;
    height: 100px;
  }

  .map-gradient-label {
    text-align: center;
  }
}
