.fr-collapse,
.fr-collapse--expanded,
.fr-collapsing,
.fr-collapse::before {
  transition: none !important;
}

.MuiAutocomplete-inputRoot {
  padding-right: 0px !important;
}

.MuiAutocomplete-paper {
  font-family: Marianne, arial, sans-serif !important;
}

.MuiAutocomplete-option.Mui-focused {
  background-color: var(--background-alt-blue-france-active) !important;
}

@media (min-width: 768px) {
  .fr-footer__logo {
    max-width: 210px !important;
  }
}

.rcpnt-section h3 {
  color: var(--text-title-blue-france) !important;
}

.rcpnt-section .fr-card__end {
  margin-top: 0 !important;
}

.rcpnt-section ul,
.rcpnt-section ol {
  margin-left: 1rem;
}

.rcpnt-section p {
  margin: 0 !important;
}

html,
body {
  min-width: 320px;
}

/* Leaflet */

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-control-zoom a[href],
.leaflet-control a[href] {
  background-image: none !important;
}

@media (max-width: 768px) {
  .st-bienvenue-page .fr-card--shadow {
    filter: none !important;
    padding: 0px !important;
  }
}
