.container {
  width: 100%;
}

.chartFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.chartLegend {
  font-size: 0.75rem;
  color: var(--text-title-grey);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chartLegend div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--text-title-grey);
}

.selectWrapper {
  margin-left: auto;
  position: relative;
  display: inline-block;
}

.caretIcon {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #626a80;
}

.caretIcon:before {
  --icon-size: 1rem;
}

.timeRangeSelect {
  font-size: 0.75rem;
  color: #626a80;
  background-color: #eef1f4;
  border: 1px solid #cfd5d3;
  border-radius: 4px;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.timeRangeSelect:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
