.container {
  margin-bottom: 1rem;
}

.header {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-title-grey);
  margin-bottom: 0.25rem;
}

.subtitle {
  font-size: 0.75rem;
  color: var(--text-mention-grey);
  margin-bottom: 1rem;
}
