name: Tests

permissions:
  contents: read

on:
  push:
    branches:
      - "**"

env:
  COMPOSE_BAKE: true

jobs:

  data-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create env files
        run: make create-env-files
      - name: Run linting checks
        run: make data-lint-check

  data-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create env files
        run: make create-env-files
      - name: Download GeoIP database
        run: make data-geoip-download
      - name: Run tests
        run: make data-test

  front-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create env files
        run: make create-env-files
      - name: Install dependencies
        run: make front-install-deps
      - name: Run linting checks
        run: make front-lint-check
      - name: Run links checks
        run: make front-links-check
